<div class="background">
    <div class="background-information-text">
        <span>Explore our world of coffee. Unique flavors and exceptional quality.</span>
        <button class="btn" (click)="scrollDown()">Try it now</button>
    </div>
</div>
<div class="items-list-background">
    <h2>Discover the unique flavors of our products</h2>
    <div class="container">
        <div class="row">
            <div class="col-md" *ngFor="let shopItem of shopList">
                <div class="shop-item">
                    <img src="{{shopItem.img}}" *ngIf="!shopItem.isAvailable ">
                    <img src="{{shopItem.img}}" class="img-disabled" *ngIf="shopItem.isAvailable ">
                    <div class="shop-item-values shop-item-name">{{shopItem.name}}</div>
                    <div class="shop-item-values shop-item-description">{{shopItem.description}}</div>
                    <div class="shop-item-values shop-item-price">${{shopItem.price}}</div>
                </div>
            </div>
        </div>
    </div>
</div>