@import "/src/assets/variables.scss";

.background {
  background-image: url("./assets/background-image2.png");
  background-size: cover;
  height: 35rem;
}

h2 {
  width: 100%;
  max-width: 40rem;
  margin: auto auto 0;
  padding: 0 2rem 2rem 2rem;
  text-transform: uppercase;
  font-size: larger;
}

.items-list-background {
  width: 100%;
  max-width: 60rem;
  margin: auto auto 0;
  background-color: $background-color;
  padding: 2rem 2rem 1rem 2rem;
  box-sizing: border-box;
}

.background-information-text {
  color: $color-beige;
  display: flex;
  height: inherit;
  align-items: center;
}

.background-information-text {
  display: flex;
  width: 100%;
  padding: 0 0 2rem 0;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  flex-wrap: nowrap;
}

.background-information-text > span {
  width: 16rem;
  margin-bottom: 1rem;
  text-align: center;
}

.btn {
  background-color: $color-beige;
  color: $color-black;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($color-beige, 10%);
  }
}
img {
  width: 100%;
  max-width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.img-disabled {
  //TODO: está aparecendo a opacity quando a tela está pequena o suficiente para a imagem atravessar a navbar
  opacity: 0.6;
}

.row {
  justify-content: center;
}

.shop-item-values {
  font-size: 0.9rem;
  font-weight: 400;
  overflow-wrap: break-word;

  &:last-of-type {
    margin-bottom: 1rem;
  }

  &::first-letter {
    color: $color-brown;
  }

  &:first-of-type {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.description {
  color: $color-brown;
  font-style: italic;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.col-md {
  flex-basis: 13rem;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
