@import "/src/assets/variables.scss";

.items-list-background {
  width: 100%;
  max-width: 43.5rem;
  margin: 2rem auto 0;
  background-color: $background-color;
  padding: 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.img-disabled {
  opacity: 0.6;
}

.shop-item-values {
  font-size: 0.9rem;
  font-weight: 400;
  overflow-wrap: break-word;
}

.shop-item-values::first-letter {
  color: $primary-color;
}

.shop-item-values:first-of-type {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
}

.description {
  color: $primary-color;
  font-style: italic;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.col-md {
  flex-basis: 13rem;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
