@import "/src/assets/variables.scss";

.items-list-background {
  width: 43.5rem;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: $background-color;
  padding: 2rem;
}

img {
  width: 12rem;
  height: 12rem;
  object-fit: cover;
}

.img-disabled {
  opacity: 0.6;
}

.shop-item-values {
  font-size: small;
  font-weight: 400;
  overflow-x: hidden;
  word-wrap: break-word;
}

.shop-item-values::first-letter {
  color: $primary-color;
}

.shop-item-values:first-of-type {
  font-size: medium;
  font-weight: 500;
}

.description {
  color: $primary-color;
  font-style: italic;
}

.shop-item-values:last-of-type {
  padding-bottom: 2rem;
}

.col-md {
  width: 13rem;
  max-width: 13rem;
}

.container {
  box-sizing: unset;
}
