<nav class="navbar-header">
  <a class="item-list" routerLink="/products">
    <span>Menu</span>
  </a>
  <a class="item-list" routerLink="/about">
    <span>Sobre nós</span>
  </a>
  <a class="item-list" routerLink="/contact">
    <span>Contato</span>
  </a>
  <a class="item-list" routerLink="/products">
    <h1 class="navbar-title">Coffee Break</h1>
  </a>
  <a class="item-list" routerLink="/login">
    <span>Login</span>
  </a>
  <a class="item-list" routerLink="/register">
    <span>Cadastro</span>
  </a>
  <i class="fa-solid fa-cart-shopping"></i>
</nav>