@import url("https://fonts.cdnfonts.com/css/alex-brush");

.background {
  background-image: url("./assets/0_1.png");
  height: 32rem;
}
.navbar-header {
  background-color: black;
  margin-top: 2.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  position: absolute;
  width: -webkit-fill-available;
  cursor: pointer;
}
.navbar-title {
  color: #e9d9b7;
  text-decoration: none;
}
h1:first-of-type {
  background-color: #779556;
  width: 9.5rem;
  display: flex;
  margin-left: 12rem;
  height: inherit;
  align-items: center;
  word-spacing: 100vw;
}
h1:last-of-type {
  margin-right: 12rem;
  font-weight: 100;
  font-style: italic;
  font-size: medium;
}
h1,
span {
  padding: 0 1rem 0 1rem;
  margin-bottom: 0;
}
span {
  color: #e9d9b7;
  display: flex;
  height: inherit;
  align-items: center;
}
span:hover {
  background-color: #769556;
  cursor: pointer;
}

// .marrom {
//   background-color: #80461B ;
// }
// .verde {
//   background-color: #779556  ;
// }
// .creme {
//     background-color: #E9D9B7 ;
// }
// .vermelho {
//     background-color: #A31F34 ;
// }
