@import url("https://fonts.cdnfonts.com/css/alex-brush");
@import "/src/assets/variables.scss";

.background {
  background-image: url("./assets/0_1.png");
  height: 32rem;
}

.navbar-header {
  background-color: $color-black;
  margin-top: 2.5rem;
  height: 6rem;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
}

.navbar-title {
  color: $color-beige;
  text-decoration: none;
  cursor: pointer;
  font-family: $font-alex-brush;
  font-size: 2.5rem;
  margin-left: 2rem;
}

h1:first-of-type {
  background-color: $color-green;
  width: 9.5rem;
  display: flex;
  margin-left: 12rem;
  height: inherit;
  align-items: center;
  word-spacing: 100vw;
}

h1:last-of-type {
  margin-right: 12rem;
  font-weight: 100;
  font-style: italic;
  font-size: medium;
  font-family: $font-alex-brush;
  color: $color-beige;
}

h1,
span {
  padding: 0 1rem;
  margin-bottom: 0;
}

span {
  color: $color-beige;
  display: flex;
  height: inherit;
  align-items: center;
}

span:hover {
  background-color: $color-light-green;
  cursor: pointer;
}
