<div class="background">
    <h2>Yan da Costa</h2>
    <div class="img"></div>
    <div class="center-links container">
        <div class="contact-icon">
            <i class="fa-brands fa-github fa-2xl"></i>
        </div>
        <a href="https://github.com/yancostasc" target="_blank">GitHub</a>
        <div class="contact-icon">
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </div>
        <a href="https://www.linkedin.com/in/yancostasc/" target="_blank">Linkedin</a>
    </div>
    <p>Welcome to my project! This is a project I created to stay up-to-date with the latest advancements in Angular and
        to explore new things I have learned while working and studying.

    </p>

    <p>The main objective of this project is to serve as a playground for applying recent concepts and techniques in
        Angular, as well as exploring advanced features of the framework. Through this application, I am constantly
        testing and enhancing my skills in Angular development.</p>

    <p>I am continuously adding new features and improving the application as I learn and discover new techniques in
        Angular development. Therefore, the "Coffee Break" project is a reflection of my commitment to staying updated
        with best practices and continuously exploring the possibilities of Angular.</p>
</div>