h3,
h2 {
  color: #07b0fb;
}
.container {
  width: 28rem;
}
.col {
  padding-right: 0;
}
.bg-text {
  background-color: #e7f7fe;
  color: #07b0fb;
  margin: 1rem 0 1rem 0;
  padding: 1rem 0 1rem 0;
}
.opacity {
  opacity: 100% !important;
}
.small-text {
  font-size: small;
}
.text-align-right {
  text-align: right;
}
