.header-title {
  color: #07b0fb;
}
input {
  background-color: #f4f4f4;
  border-top: none;
  border-right: none;
  border-left: none;
}
button {
  width: 20rem;
  margin: 1rem 0 2rem 0;
}
hr {
  width: 22rem;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
img {
  margin: 1rem 0 1rem 0;
  height: 3rem;
}
.justify-content-center {
  margin-top: 1rem;
}
.btn-primary {
  border-radius: 10rem;
  background-color: #07b0fb;
  border-color: transparent;
}
.form-floating {
  margin: 0 auto;
  width: 20rem;
  height: 3, 125rem;
}
.form-floating input:focus {
  border-bottom: 0.2rem solid #07b0fb;
}
.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
  color: #07b0fb;
}
.col {
  padding-bottom: 2rem;
}
