<div class="container-fluid text-center">
  <img src="/assets/actionLabs.svg" alt="logoActionLabs" />
  <div class="row">
    <hr class="hr" />
    <h2 class="header-title">BRL EXCHANGE RATE</h2>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="fromSymbol"
          placeholder="Enter the currency code"
          [formControl]="fromSymbol"
        />
        <label for="fromSymbol">Enter the currency code</label>
      </div>
      <div class="container-fluid">
        <div class="row justify-content-center">
          <button
            class="btn btn-primary"
            type="button"
            (click)="exchangeResult()"
          >
            EXCHANGE RESULT
          </button>
        </div>
        <app-daily-card></app-daily-card>
      </div>
    </div>
  </div>
</div>
